logs-latest
*.html
.Rhistory
ark*
R/
.local/
.jupyter/
measures/
experiment.pdf
experiment.html
experiment.md
.ipython
.pre-commit-config.yaml
.direnv/
*.tar*
Untitled*.ipynb
*.tex
vroom/
*.bak
*.csv
requests
joblog