NodeSituationDisk (
    nodes: [
        Node (
           uri: "localhost:3001",
            id: "49aaea47-7af7-4c68-b29a-b445ef194d3a",
            category: Child,
        ),
    ],
    market_url: Some("localhost:3000"),
    my_id: "e13f2a63-2934-480a-a448-b1b01af7e170"
)