NodeSituationDisk (
    nodes: [
        Node (
            uri: "localhost:3002",
            id: "e13f2a63-2934-480a-a448-b1b01af7e170",
            category: Parent,
        ),
    ],
    my_id: "49aaea47-7af7-4c68-b29a-b445ef194d3a
)