*
!*/
!/.gitignore

!src/*.rs
!fn_*/*.py

#Still blacklisted
.venv
.direnv

!subflake.nix
!fn_*/Cargo.toml
!fn_*/Cargo.lock
!README.MD
!fn_*/pyproject.toml
!fn_*/rustfmt.toml
!justfile
!fn_echo/model
!fn_echo/helper
!fn_echo/helper_derive
!fn_echo/rust-toolchain
